body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.profile{
  border-radius: 0;
  width: 180px;
    height: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 16px auto;
}
section p {
  font-family: Georgia, serif; 
  line-height: 1.6; 
}

header {
  background:#0a1a2f;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #444;
}
.Academic-Background {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.project {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.Skills {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.resume {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
 .contact-section {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .social-icons a {
    text-decoration: none;
    margin: 0 10px;
  }
  
  .social-icons img {
    vertical-align: middle;
  }

footer {
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: rgb(0, 0, 0);
}
